.menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: aliceblue;
    color: rgb(36, 31, 31);
    color: #1d1c1c;
    padding: 0 20px;
}

.menu .login {
    padding: 8px 15px;
    background-color: #fccd07;
    color: #1d1c1c;
    border-radius: 7px;
    cursor: pointer;

}

.menu .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #fccd07;
}

.menu button {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 1.5em;
    cursor: pointer;

}

.menu_lateral {
    height: 100vh;
    width: 200px;
    background-color: #fccd07;
    color: #1d1c1c;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
}

.menu_lateral .fechar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}